*~
*.diff
*.patch
.DS_Store
.project
.settings
.idea
admin/storage/backups/*.zip
admin/storage/cache/assets/*.js
admin/storage/cache/assets/*.css
admin/storage/cache/thumbs/*.jpg
admin/storage/cache/thumbs/*.png
admin/storage/cache/thumbs/*.gif
admin/storage/cache/tmp/*
admin/storage/uploads/*
admin/custom/*